.ciudad{
    display:flex;
    flex-direction: column;
}

.container{
    position: relative;
    width:65vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 20px 0px 20px;
    margin-top: 5px;
}

#boton_volver{
    display: inline-flex;
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    padding: 5px 10px;
    border-radius: 5px;
    position:absolute;
    right: 20px;
    background-image: -moz-linear-gradient(top, #1c1e1f, #eff3f73a);
}

#boton_volver:hover {
    background-image: -moz-linear-gradient(top, #080808, #eff3f7de);
    cursor: pointer;
}

#nombre_ciudad{
    display:inline-flex;
    text-shadow: 0 0 10px #FFFFFF, 6px 18px 2px rgba(206,89,55,0);
    margin-top: 0px;
    margin-bottom: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 68px;
    font-weight: 600;
}

.info{
    width:65vw;
}

.actual{
    display:flex;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-shadow: 0 0 10px #FFFFFF, 6px 18px 2px rgba(206,89,55,0);
}

.actual_img{
    border-radius: 20px;
    margin-right: 30px;
}

.pronostico{
    -webkit-box-shadow: 8px 9px 2px 0px rgba(0,0,0,0.7); 
    box-shadow: 8px 9px 2px 0px rgba(0,0,0,0.7);
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    display:flex;
    justify-content: space-around;
    background-image: -moz-linear-gradient(top, #1c1e1f60, #eff3f73a);
    color:whitesmoke;
    text-shadow: 0 0 10px #050505, 6px 18px 2px rgba(206,89,55,0);
}

.dia{
    font-weight: 600;
}

.cargando {
    display:inline-flex;
    text-shadow: 0 0 10px #FFFFFF, 6px 18px 2px rgba(206,89,55,0);
    margin-top: 140px;
    margin-left: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 56px;
    font-weight: 300;
}
